<main>
  <nav>
    <div>Navigation</div>

    <div>Section</div>
    <a class="action1">Action 1</a>
    <a class="action2">Action 2</a>
  </nav>

  <input type="search" class="search" placeholder="Filter" />
  <button>new</button>
  <data>

  </data>
</main>
